extends layout

block content
  nav(class='navbar navbar-inverse navbar-static-top')
    div(class='container')
      div(class='navbar-header')
        button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
          span(class="sr-only") Toggle navigation
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")
        a(class="navbar-brand" href="/") CogniFit
      div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
        ul(class="nav navbar-nav navbar-right")
          li
            a(href='/users') About
          li(class="dropdown")
            a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Services
              span(class="caret")
              ul(class="dropdown-menu")
                li
                  a(href="/exercises") Design
                li
                  a(href="/genres") Development
                li
                  a(href="/exerciseinstances") Consulting
          li
            a(href="#") Contact
          li
            a(href="/login") Login/Register