body{
    background: rgb(255, 255, 255);
   /* background-image: url(https://scstylecaster.files.wordpress.com/2014/08/woman-running-on-treadmill.jpg);
    background-repeat: no-repeat;*/
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-weight: bold;   
    position: relative;
    top:100px;
    bottom: 0;
    left: 0;
    right: 0;
    color: hsl(221, 100%, 11%);
    font-size: 40px; 
    font-size: 6vw;
    text-align: center;
}
h2 {
    font-weight: bold;
}
p {
    font-size: 16px;
    color: #cdcdcd;
}
container{
    background: rgb(214, 214, 214);
   /* background-image: url(https://scstylecaster.files.wordpress.com/2014/08/woman-running-on-treadmill.jpg);
    background-repeat: no-repeat;*/
    color: #0f0f0f;
    font-family: 'Montserrat', sans-serif;
}
.title_box{
    padding-left: 300px;
    padding-right: 300px;
    padding-right: 4vw;
    padding-left: 4vw;
}
.welcome{
    object-fit: contain;
    overflow: hidden;
    background:hsl(37, 15%, 24%);
}
.welcome h1{
    margin-top: 60px;
    margin-bottom: 200px;
    object-fit: contain;
    overflow: hidden;
    text-align: center;
    font-size: 70;
}
.welcome p{
    margin-top: 60px;
    margin-bottom: 40px;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
}
.welcome a{
    margin-top: 20px;
    margin-bottom: 20px;
    color: hsl(221, 100%, 11%);
    text-align: center;
    font-size: 36px;
}
.sidebar-nav {
    position: fixed;
    margin-top: 50px;
    height: 100%;
    left:0px;
    padding: 0;
    list-style: none;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    background: hsl(37, 15%, 24%);
}

.sidebar{
    position: fixed;
    margin-top: 50px;
    height: 100%;
    left:0px;
    padding: 0;
    /*list-style: none;*/
    list-style: -webkit-gradient();
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    font-size: 50px;
    background: hsl(37, 15%, 24%);

}

.navbar {
    margin-bottom: 0;
    background: hsl(239, 100%, 30%);
    color: rgb(255, 255, 255);
    position: fixed;
    top: 0px;
    left: 0;
    min-width: 100%;
}
.jumbotron {
    background:hsl(236, 100%, 47%); /* #c55f00ea;*/ 
    text-align: center;
}
.jumbotron h1 {
    color: rgba(255, 255, 255, 0.938);
    font-size: 40px;
}
.jumbotron p {
    color: rgb(255, 255, 255);
    font-size: 26px;
}
.navbar-inverse {
    color: rgb(255, 255, 255);
    background:hsl(234, 100%, 47%);
    border: 0;
  /*  position: fixed;
    top: 0px;
    left: 0;*/
}
.dropdown-menu {
    color: rgb(255, 255, 255);
    background: hsla(219, 74%, 28%, 0.596);
    border-radius: 0;
    border: 0;
}
.navbar-inverse .navbar-nav li a {
    color:rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
}
.navbar-inverse .navbar-brand{
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: bold;
}

.navbar-inverse .navbar-nav li a:hover {
    background:#ffffff;
    color:  hsl(221, 100%, 11%);
}
.navbar-inverse .navbar-nav .dropdown-menu li a:hover {
    background:  hsla(0, 0%, 100%, 0.918);
    color:  hsl(221, 100%, 11%);
}
.dropdown-menu li a {
    padding: 10px;
}
.btn-primary {
    color: #fff;
    background-color: hsla(0, 0%, 100%, 0.651);
    border-color: hsl(221, 100%, 11%);
    margin-bottom: 5px;
    size: 80px
}
.btn-primary:hover {
    color: white;
    background-color:hsla(222, 100%, 11%, 0.514);
    border-color: hsl(221, 100%, 11%);
}
.glyphicon-large {
    font-size: 60px;
}
.call-to-action {
    text-align: center;
}
.call-to-action p {
    margin-bottom: 30px;
    font-family: sans-serif;
}
.call-to-action h3 {
    margin-bottom: 30px;
    font-family: sans-serif;
    font-weight: bold
}


.header_video{
/*    height:400px;
	overflow: hidden;*/
    width: 100%;
    max-height: 500px;
    overflow: hidden;
    /*position: fixed;*/
    top: 0;
    right: 0;
    z-index: -100;
}
video {
    display: block;
  }
/* The only rule that matters */
#video-background {
    /*  making the video fullscreen 
     /* position: fixed;
      right: 0; 
      bottom: 0;
    height: 500px;
        min-width: 100%;  
    /*  min-height: 100%; 
     /* width: auto;
     /* height: auto;
      z-index: -100;
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      overflow: hidden; */

     /* display: block;
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      pointer-events: none;
      overflow-y: hidden;
      vertical-align: top;*/
      
      position: relative;
      top: -200px;
      width: auto;
      min-width: 100%;
      height: auto;
      background: transparent url('http://localhost:8081/resources/images/resting_man') no-repeat;
      background-size: cover;
}

.header_video h1{
   margin-top: 200px;
   margin-top: 60px;
   margin-bottom: 200px;
   object-fit: contain;
   overflow: hidden;
   text-align: center;
   font-size: 70;
   z-index: 200;
   /*  position: absolute;
    z-index: 100;
    font-weight: bold;   
    position: relative;
    top:100px;
    bottom: 0;
    left: 0;
    right: 0;
    color: hsl(221, 100%, 11%);
    font-size: 40px; 
    font-size: 6vw;
    text-align: center;
    background:hsla(36, 100%, 47%, 0.219);*/
   
}
#resting_man{
    background-image: 'http://localhost:8081/resources/images/resting_man' ;
    margin-top: 50px;
    position: relative;
    float: right;
    max-height: 800px;
    max-width: 800px;
}



li.menu-item {
    margin:0 0 30px 0;   
 }



 .loginForm{
    margin-top: 200px;

    z-index: 100;
    color: #221f1f;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    width: 500px;
    background: #fffffff3;
    position: absolute;
    top:300px;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.btn-login {
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: hsl(36, 100%, 47%);
    border-color: hsl(0, 0%, 100%);
    margin-bottom: 5px;
    size: 150px;
    width: 140px;
}
.btn-login:hover {
    color: #221f1f;
    background-color:hsla(51, 100%, 83%, 0.514);
    border-color:  #221f1f;
}